*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html,body,main {
    height:100%;
}
html,body,section{
    height:100%;
    overflow: hidden;
}
a {
    text-decoration: none;
}
ul,li{
    list-style: none;
}
body {
    font: 14px/1,5 cursive;
}
.clearfix::after {
    content:'';
    display: block;
    clear:both;
}