.layout{
    margin:0 auto;
    width:600px;
}

@media (min-width:700px){
    .layout {
        width:600px;
    }
}
@media (min-width:900px){
    .layout {
        width:700px;
    }
}
@media (min-width:1000px){
    .layout {
        width: 900px;
    }
}
@media (min-width:1200px){
    .layout {
        width:1100px;
    }
}

#page-cover {
    display: none;
}

.bg {
    position: absolute;
    z-index: -1;
    left: -10px;
    right:-10px;
    top:-10px;
    bottom:-10px;
    background: url(http://cloud.hunger-valley.com/music/public_tuijian_spring.jpg-big) center center no-repeat;
    background-size: cover;
    filter:blur(4px);
}
.bg::before{
    content:'';
    position: absolute;
    top:0;
    bottom:0;
    right:0;
    left:0;
    background: rgba(0,0,0,0.4);
}

main {
    padding-top: 12vh;
    height: calc(100% - 24vh);
}
main .aside {
    float:left;
}
main .aside>figure {
    width: 46vh;
    height:46vh;
    background-image: url(http://cloud.hunger-valley.com/music/public_tuijian_spring.jpg-middle);
    background-size:cover;
    background-position: center center;
}
main .aside .action{
    display: flex;
    margin-top: 5vh;
}
main .action>.iconfont{
    flex:1;
    font-size:5vh;
    text-align:center;
    color: rgba(255,255,255,0.4);
    cursor: pointer;
    transition: color .4s;
}
main .action>.iconfont:hover{
    color:#fff;
}
main .action>.iconfont.active{
    color:#FF5722;
}

main .detail{
    margin-left:56vh;
    color:#fff;
}
main .detail .tag{
    padding:.4em .8em;
    background-color: #2E6EEC;
    /* text-align: center; */
    display:inline;
    font-size: 2vh;
}
main .detail>h1 {
    margin-top: 2vh;
    font-size: 5vh;
}
main .detail .icons{
    display: flex;
    font-size:3vh;
    margin-top:15vh;
}
main .detail .icons li{
    flex:1;
}
main .detail .iconfont {
    font-size:3vh;
    margin-right: 1vh;
}

main .area-bar {
    margin-top:10vh;
    display: flex;
    align-items: center;
    cursor: pointer;
}
main .area-bar .bar{
    position: relative;
    flex:1;
    height:.8vh;
    background-color: rgba(255,255,255,0.4);
    border-radius:.2vh;
}
main .area-bar .progress-bar{
    position: absolute;
    height: .8vh;
    width: 0%;
    /* 让时间轴滑动更流畅 */
    transition: width .8s;
    background-color: #fff;
    border-radius: .2vh;
}
main .area-bar .current-time {
    width: 3vh;
    font-size: 2vh;
    margin-left:1vh;
}

main .author {
    font-size: 2vh;
    margin-top: 2vh;
    color: rgba(255, 255, 255, 0.6);
  }
main .lyric {
font-size: 3vh;
margin-top: 3vh;
color: rgba(255, 255, 255, 1);
}

footer {
    height: 24vh;
    background: rgba(255,255,255,0.2);
    color:#fff;
    box-shadow: 0 -.25vh .25vh .25vh rgba(255,255,255,0.2)
}
footer .list{
    overflow:hidden;
    position: relative;
    height: 24vh;
}
footer .list ul{
    position: absolute;
    left:0;
}
footer .list li {
    float: left;
    margin:2vh 2vh 0 2vh;
    width:20vh;
    height: 20vh;
}
footer .list li:hover{
    box-shadow: 0 0 .5vh .5vh rgba(255, 255, 255, 0.8);
}
footer .list li.active{
    box-shadow: 0 0 .5vh .5vh rgba(255, 255, 255, 0.8);
}

footer .list .cover {
    background-size: cover;
    background-position: center center;
    width:20vh;
    height:16vh;
}
footer .list h3 {
    font-size:2vh;
    text-align: center;
    margin-top: 1vh;
    color:rgba(255, 255, 255, 0.9);
}
footer .layout{
    position: relative;
}
footer .layout .iconfont{
    position: absolute;
    font-size:6vh;
    color:rgba(255,255,255,0.4);
    cursor: pointer;
    opacity: 0;
    top:7vh;
}
footer:hover .iconfont{
    transition: opacity .4s;
    opacity: 1;
}
footer .layout .iconfont:hover{
    color: rgba(255, 255, 255, 0.8);
    transition: color .4s;
}
footer .layout .icon-left {
    left:-6vh;
}
footer .layout .icon-right{
    right:-6vh;
}

.lyricAnimate {
    display: inline-block;
    opacity:0;
}















